data/
*.pyc
profile_pics/
profile_pics_resize/
.idea/
.DS_Store
credentials.json
main.py
*.py
$----1--$$/--/--hubot-master/hubot-redis-brain/.github/79.0.3945.88/platformio0001/Nauz-File-Detector/gui_source/images/-ms-overflow-style.navigator.geolocation_files/27416369-38a07dfa-5737-11e7-951f-db992d44388e.jpg_navigator.geolocation
